@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

strong {
  font-weight:bold;
}

em {
  font-style:oblique;
}

p {
  /* margin: -10px 0; */
  color: rgb(136, 146, 161);
  font-size: 14px;
}

.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}

h1 {font-size:180%;}
h2 {font-size:150%;}
h3 {font-size:125%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

a:link {color:#0289ce;}
a:hover {/* color: #FFFFFF; *//* background-color: rgb(56, 127, 187); */}


/* drop shadow effect */

.drop-shadow {
    position:relative;
    float:left;
    width:40%;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
    content:"";
    position:absolute; 
    z-index:-2;
}

.drop-shadow p {
    font-size:16px;
    font-weight:bold;
}

/* Lifted corners */

.lifted {
    -moz-border-radius:4px; 
         border-radius:4px;
}

.lifted:before,
.lifted:after { 
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 13px 10px rgba(0, 0, 0, 0.7);   
       -moz-box-shadow:0 13px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 13px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);    
       -moz-transform:rotate(-3deg);   
        -ms-transform:rotate(-3deg);   
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.lifted:after {
    right:10px; 
    left:auto;
    -webkit-transform:rotate(3deg);   
       -moz-transform:rotate(3deg);  
        -ms-transform:rotate(3deg);  
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

/*End RESET - Begin Full Width CSS*/
  body {
    background: #FFF;
    color: #2C2C2C;
    font:13px 'Open Sans',  Arial,  sans-serif
  }

  .wrap {
    margin:0 auto;
    width:980px;
  }
  
  #header, #footer {
    float:left;
    padding:15px 0;
    min-width:100%;
  }
  
  #header {
    background: rgb(37, 39, 43);
    height: 69px;
    float: left;
    position: relative;
    border: 1px solid rgb(37, 39, 43);
}
  
  #header .logo {
    float:left;
    width:400px;
  }
  
  #header p {
    float:right;
    width:400px;
    margin:0;
  }
  
  #content {
    padding:15px 0;
    clear:both;
  }
  
  #footer {
    background:#333;
    text-align:center;
    /*To anchor to bottom of page uncomment the following lines:*/
    /*position:fixed;
    bottom:0;*/
  }
  
  #footer a {
    color:#fff;
  }


  
h1 {
  text-align: center;
  font-size: 40px;
  /* text-transform: uppercase; */
  /* letter-spacing: 3px; */
  color: #222;
}

input[name="tabs"] {
  position: absolute;
   left: -9999px;
}

label {
  display: inline-block;
  padding: 13px 20px;
  border-right: 1px solid rgb(72, 77, 86);
  border-bottom: none;
  cursor: pointer;
  background-color: rgb(236, 240, 241);
  transition: background-color .6s, color .6s;
  color: rgb(72, 77, 86);
  font-weight: bold;
  float: left;
  font-size: 1.5em;
  width: 98px;
  text-align: center;
  text-transform: uppercase;
}

#tab1:checked ~ .label-holder label[for="tab1"], 
#tab2:checked ~ .label-holder label[for="tab2"], 
#tab3:checked ~ .label-holder label[for="tab3"] {
  /* background-color: #222; */
  color: rgb(62, 111, 181);
  background-color: rgb(186, 197, 205);
  pointer-events: none;
}

p {
  line-height: 24px;
  padding: 10px;
  line-height:16px;
  
  
}
img {
    margin: 12px;
    display: block;
    max-width: 100%;
  }

.tab-data {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 1em;
}

section {
  border: 2px solid #D8D8D8;
  opacity: 0;
  position: absolute;
  top: 0;
  left: -9999px;
  transition: opacity .6s;
  background-color: #ECF0F1;
  width: 100%;
}

#tab1:checked ~ .tab-data .first,
#tab2:checked ~ .tab-data .second,
#tab3:checked ~ .tab-data .third {
  opacity: 1;
  left: auto;
}

.label-holder {
    background-color: rgb(236, 240, 241);
    border-radius: 8px;
    border: 1px solid rgb(72, 77, 86);
    float: left;
    position: relative;
    width: 100%;
}
.label-holder label {
    font-size: 21px;
    padding: 0 18px;
    line-height: 49px;
}

.holder {
    float: left;
    width: 100%;
    position: relative;
    top: -1em;
}

label:first-child{
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.third .column:first-child {
  width: 26.5%;
}
.column{ float: left; width: 29%; padding: 1.5em;}
.column.large{
  width: 69%;
}

.large-sub{
   width: 62%;
   overflow: hidden;
}

.large-txt.blue, .blue a, h6, .blue {
color: rgb(56, 127, 187);
display: block;
font-family: 'Open Sans', sans-serif;
}


.large-txt{
  font-size: 18px;
}

b{
  font-size: 24px;color: rgb(136, 146, 161);
}
.font_6 {
font: normal normal normal 20px/1.3em 'Open Sans', sans-serif;
color: rgb(56, 127, 187);
}
ul.font_8{
  
list-style-type: disc;
padding-left: 1.3em;
margin-left: 0.5em;
line-height: normal;
letter-spacing: normal;

}

.font_8 {
font: normal normal normal 14px/1.3em 'Open Sans', sans-serif;
color: rgb(136, 146, 161);
}

.font_8 {
  padding: 0;
}

.subheading{
  padding: 10px 0;
border-bottom: 1px solid #ccc;
margin-bottom: 1em;
}

section.second, section.third{
  background-color: #fff;
  border: none;
}

.callout{
  float: left;
background-color: #ECF0F1;
width: 100%;
  padding: .5em 0;
/* position: absolute; */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.heading, .callout-section{
  text-align: left;
  padding: 0 15px;
}
.third .callout-section {
  padding: 20px 20px 50px 20px;
}
.third .callout-section img {
  margin: 0;
}
.third .callout-section p {
  padding: 0;
}
.third .callout-section .contact-info {
  padding-top: 0;
}
.third .large-sub {
  width: 67%;
}
a.blue {
display: inline;
}

.image-right{
  position: absolute;
right: 0;
top: 0;
padding: 0px;
  max-height: 278px;
  max-width: 234px;
  right: -2px;
  top:-1px;
  background-color: #fff;
  overflow:hidden;
  border-radius: 5px;
  border: 1px solid #FFF;
  padding-top: 10px;
}

.image-right img {
width: 100%;
height: 100%;
margin:0;width:234px;height:278px;
}

.cst-padding{
  padding-top: 11em;
  padding-left: 0;
  float: right;
  width: 23%;
}

b{
  display: block;
  margin-bottom: 1em; margin-top: 1em;
}

.font_8{
  font: normal normal normal 14px/1.3em 'Open Sans', sans-serif;
color: rgb(136, 146, 161);
font-size:15px;line-height:18px;
padding: 6px 0;
}
.first {
    margin-top: 10px;
}
.middle {
    padding-top: 2em;
    padding-left: 3em;
}
.first .font_8{
font-size:14px;
}
.subheading b{
  margin:0;
}

.panel{
  background-color: #ECF0F1;
  border:1px solid #ccc;
float: left;
width: 100%;
  padding: 1em 0;
  border-radius: 5px;
}

.panel h1{
  font-size: 40px;
}

.xx-text{
font-size: 40px;
text-transform: uppercase;
display: block;
padding: 0 10px;
margin-bottom: .25em;
}


textarea {
border-radius: 0px;
background-color: rgba(186, 197, 205, 0.137255);
font: normal normal normal 14px/1.3em 'Open Sans', sans-serif;
color: rgb(136, 146, 161);
padding: 5px;
margin: 0px 0px 5px;
border: 0px solid rgb(255, 255, 255);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
width: 100%;
min-height: 130px;
resize: none;
-webkit-appearance: none;
}


input {
border-radius: 0px;
background-color: rgba(186, 197, 205, 0.137255);
font: normal normal normal 14px/1.3em 'Open Sans', sans-serif;
color: rgb(136, 146, 161);
padding: 5px;
margin: 0px 0px 5px;
border: 0px solid rgb(255, 255, 255);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
width: 100%;
-webkit-appearance: none;
}

button {
float: right;
max-width: 35%;
border-radius: 0px;
background-color: rgb(56, 127, 187);
font: normal normal normal 15px/1.3em 'Open Sans', sans-serif;
color: rgb(255, 255, 255);
padding: 5px;
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
cursor: pointer;
margin: 0px;
}


.right{
  float:right;
}

.third {
  padding-top: 10px;
}
.third > .column{
  padding: 0;
}


#header h1 {
text-align: left;
color: #fff;
font-weight: bold;
padding-left: .75em;
float: left;
font-size:51px;
line-height: 1.1em;
}


#header .desc {
color: #fff;
margin-left: 3em;
font-size: 17px;
line-height: 5.1em;
}

.btn{
	padding: 5px 30px;
	color: #fff;
	text-decoration: none;
	background-color: rgb(56, 127, 187);
	width: auto;
  margin-top: 15px;
  font-size:20px;
}

.btn:hover{
	background-color: rgb(40, 94, 136);
	color: #fff;
}

/* btn lifted corner */

.btn-box {
  width:70%;
	height:200px;
	background:#FFF;
	margin:40px auto;
}
.lifted-corner
{
  position: relative;
}
.lifted-corner:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.contact-info {
  display: block;
  padding-top: 10px;
}

.border{
	background-color:rgb(236, 240, 241);
height: 5px;
width: 100%;
margin: 5px 0;
}
.border:first-child {
    margin-top: 20px;
}

#header h1 img{
	max-width: 200px;
max-height: 50px;
}

.column img{width:305px; height:458px;}
.column.last p{ line-height:24px;font-weight:normal;}
.column.last img{height:35px; width:35px; }
.second ul li{margin: -8px 0;}
.second p {padding:0; line-height:12px;}
.second li > p{padding:3px 0; line-height:1.25em;}
.second .column.large{padding-left:15px; padding-top: 0;}

.second h6{font-size:23px;}
.second .subheading{font-size:24px;color:#8892A1;margin-bottom:0.25em;}
.second .callout h1{font-size:40px;font-weight:normal; padding-left: 25px;}
.second .callout-section p{line-height:20px; display: block;}
.second .cst-padding p{line-height:21px;}

.cst-padding .subheading{margin-bottom:0;}

hr{border-bottom: 5px solid #ECF0F1;height:0; min-height:0;color: #ECF0F1;}

.third .panel > span{font-weight:normal; margin-bottom:0;}
.third .font-8{font-size:15px;}
.third .column .panel{width:121%;}

.border{position:relative;top:540px;}
.clear {clear: both;}
#button_wrap{position:relative;}
.cv_shadow{background:url('img/liftedshadow_medium.png') 100% 0px no-repeat;position:absolute;width:140px;height:26px;left:3px;bottom:-19px;}
